@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";

* {
  font-family: "Hind";
  color: black;
}
body{
  background-color: #e7ecf3;

}

/* Detalle para celulares */
@media (max-width:415px){

  #imagenTitulo{
    padding-top: 15%;
  }

  #banner Button{
  background-color: #C0D4EA;
  padding: 10px;
  font-size: 23px;
}

#seccionDocs{
  margin-bottom: 25%;
}

#cadaDoc{
  margin-bottom: 50%;
}


}
/* Se terminan los detalles */

#banner{
  background-color: transparent;
}

#banner Button{
  background-color: #C0D4EA;
  padding: 10px;
  font-size: 23px;
}



#slide1{
  z-index: 99;
  margin-right: 10%;
  margin-top: 10px;
}

.icono{
  position: fixed;
  top: 0;
  margin-top: 88px;
  margin-left: 75%;
  z-index: -1;
}

#avisos{
  margin-left: 20%;
}

#contacto{
  margin-top: 10%;
  margin-bottom: 5%;
}

.block {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  border-radius: 50px;
  width: 100%;
  padding: 20px;
}

.container img{
  width: 100%;
  height: 100%;
}

@media (min-width:1440px){
  #avisosDivs{
    transform: translateX(25%);
  }

  #seccionDocs{
    margin-bottom: 5%;
  }


}


#titulo{
  display: flex;
  align-items: right;
}

/* TITULO Y FOTO DE PORTADA */
#texto{
  margin-right: 5%;
  margin-bottom: 5%;
}

#imagenTitulo{
  height: 60%;
  width: 60%;
  padding-right: 10%;
  transform: translate();
}

/* FIN DE SECCION */

.footer{
  background: linear-gradient(to right, #B0B5BA ,#A0C7F2 50%, #B0B5BA 100%);
  padding: 15px;
}

.textoFooter{
  text-align: center;
  font-weight: bold;
}


/* Seccion de pag acceso a la informacion
#seccionDocs{
  margin-bottom: 10%;
} */